@using UsersAndAwards.Dependences;
@using UsersAndAwards.BLL.Interfaces;

@{
    Layout = "~/_Layout.cshtml";
    IUserLogic userLogic = DependencyResolver.UserLogic;
    string errorMessage = null;
    string iD = Request["iD"];
    string name = Request["name"];
    string dateOfBirth = Request["dateOfBirth"];
    DateTime date = DateTime.Now.AddYears(-18);

    if (IsPost)
    {
        Guid userID = Guid.Parse(iD);

        if (userLogic.GetAll().Where(item => item.ID == userID).Count() == 0)
        {
            errorMessage = "It is forbidden to change the ID value";
        }

        else
        {
            var user = userLogic.GetById(userID);

            if (string.IsNullOrWhiteSpace(name))
            {
                name = user.Name;
            }

            if (!string.IsNullOrWhiteSpace(dateOfBirth))
            {
                if (!DateTime.TryParse(dateOfBirth, out date)) { }
            }

            else
            {
                date = user.DateOfBirth;
            }

            userLogic.EditUser(userID, name, date);
            Response.Redirect("~");
        }
    }
}

@if (errorMessage != null)
{
    <div id="modalVisible">
        @errorMessage
        <a href="~/Pages/EditUser.cshtml" class="close">Close</a>
    </div>
}

<div class="crudContainer">
    <form action="~/Pages/EditUser.cshtml" method="post">
        <div>
            <label class="crudHead">ID User</label>
            <div>
                <input class="crudInput" type="text" name="iD" value="@iD" required>
            </div>
        </div>
        <div>
            <label class="crudHead">Name</label>
            <div>
                <input class="crudInput" type="text" name="name" value="@name" required>
            </div>
        </div>
        <div>
            <label class="crudHead">Date of birth</label>
            <div>
                <input class="crudInput" type="date" min="1900-01-01" name="dateOfBirth" required>
            </div>
        </div>
        <button class="crudButton">Edit</button>
    </form>

    <div>
        <div>
            <p class="crudHead">Users</p>
        </div>
        <table>
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Date of birth</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var users in userLogic.GetAll().ToList())
                {
                    <tr>
                        <th scope="row">@users.ID</th>
                        <td>@users.Name</td>
                        <td>@users.DateOfBirth.ToShortDateString()</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>